# WAIG config file

# hud show mode, defaults to always
# possible values are: [always, inventory, hand]
hud-show-mode = inventory

# list of valid compass items, defaults to minecraft:compass
# use the namespaced identifiers of items and use a colon as a separator
# separate list items with commas
compass-items = minecraft:compass
